body{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  margin-top: 100px;
  border: 2px solid;
  width: 450px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px black;
}
h1{
  margin-bottom: 2px;
}
form{
  margin-top: 15px;
}
#container{
  line-height: 34px;
  padding: 30px;
}
input::placeholder{
  padding-left: 10px;
}
input{
  width: 370px;
  height: 30px;
}
#login{
  height: 40px;
  width: 378px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
p{
  margin-top: 0;
  margin-bottom: 0;
}
#copy-right{
  font-size: small;
  color: rgb(186, 183, 183);
}
label{
  font-weight: bold;
}